<div class="uk-section uk-text-center secondary-container" id="pricing">
    <h2>Pricing</h2>
    <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid uk-height-match="target: > div > .uk-card">
        <div >
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Free</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <span class="uk-text-meta">Get now for</span>
                    <span class="uk-text-lead uk-text-bold" style="display: block;">FREE</span>
                    <span class="uk-text-meta">forever</span>
                    <p><button class="uk-button uk-button-secondary">Start Now</button></p>
                </div>
                <div class="uk-card-footer uk-text-left uk-text-small">
                    <ul class="uk-list">
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: user"> </span>1 User</li>
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: database"> </span>2 GB</li>
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: check"> </span>no single file size limit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div >
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Starter</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <span class="uk-text-meta">Starts from</span>
                    <span class="uk-text-lead uk-text-bold" style="display: block;">$10</span>
                    <span class="uk-text-meta">per month</span>
                    <p><button class="uk-button uk-button-secondary">FREE DEMO</button></p>
                </div>
                <div class="uk-card-footer uk-text-left uk-text-small">
                    <ul class="uk-list">
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: user"> </span>Min 5 users</li>
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: database"> </span>100 GB</li>
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: check"> </span>no single file size limit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-box-shadow-large">
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-header" style="background:#c00;">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Business</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <span class="uk-text-meta">Starts from</span>
                    <span class="uk-text-lead uk-text-bold" style="display: block;">$15</span>
                    <span class="uk-text-meta">per month</span>
                    <p><button class="uk-button uk-button-primary">FREE DEMO</button></p>
                </div>
                <div class="uk-card-footer uk-text-left uk-text-small">
                    <ul class="uk-list">
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: user"> </span>Min 10 users</li>
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: database"> </span>1 T</li>
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: check"> </span>no single file size limit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div >
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Enterprise</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <br/>
                    <span class="uk-text-large uk-text-bold" style="display: block;">Customized</span>
                    <br/>
                    <br/>
                    <p><button class="uk-button uk-button-secondary">Free Demo</button></p>
                </div>

                <div class="uk-card-footer uk-text-left uk-text-small">
                    <ul class="uk-list">
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: users"> </span>Unlimited Users</li>
                        <li><span class="uk-margin-small-right uk-icon" uk-icon="icon: mail"> </span><a>Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>