

<div class="uk-section uk-section-muted uk-text-center secondary-container">
    <h2>Our Mission</h2>
    <div class="uk-grid-match uk-child-width-expand@s" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true" id="mission">
        <div>
            <div class="uk-card uk-card-default uk-card-body">
				<p><img src="{{ site.baseurl }}/images/culture.png" /></p>
                <p>To promote culture &amp; art education to spark creativity</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <p><img src="{{ site.baseurl }}/images/world.png" /></p>
                <p>Share Trend Micro experience to enhance capabilities for Taiwan software R&amp;D and international operations</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <p><img src="{{ site.baseurl }}/images/trendeduc.png" /></p>
                <p>To bridge the world of culture and world of Trend Micro</p>
            </div>
        </div>
    </div>
</div>
</div>