<div id="history">
    <div class="uk-section uk-section-muted overlay">
        <div style="padding-bottom: 30px; margin-top:50px;">
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true" >
                <div class="uk-text-center" >
                    <img class="uk-border-circle" src="images/team/3.png" width="600" height="600" alt="Border circle" style="margin-top:30px">
                </div>
                <div style="margin-top:30px">
                    <h3 class="uk-card-title">Our History</h3>
                    <p class="subtitle">The idea of PowerBox came up to mind when receiving a request from technical support team. During daily operation in Salesforce.com, they often request customers to upload logs or specific files for debug use. However, these kind of logs are usually large files which exceed Salesforce limit per attachment. Therefore, we try to build a cloud storage space to provide them channel and place to communicate with customers and that’s where PowerBox plays its role.
    				</p>
                </div>
            </div>
        </div>
    </div>
</div>