    <head>
        <title></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ site.url }}/css/uikit.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/custom.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous">
		</script>
        <script src="{{ site.url }}/js/uikit.min.js"></script>
        <script src="{{ site.url }}/js/uikit-icons.min.js"></script>
        <script src="{{ site.url }}/js/custom.js"></script>
    </head>