<div class="uk-position-relative">
    <div class="uk-position-top">
        	<nav class="uk-navbar-container  uk-navbar-transparent" uk-navbar uk-sticky="bottom: #offset" style="padding: 0px 20px;">
		        <div class="uk-navbar-left">

		            <ul class="uk-navbar-nav">
		                <li>
		                    <a href="{{ site.url }}/"><img class="logo-small" src="{{ site.baseurl }}/images/tm-logo.png"/></a>
		                </li>
		                <li>
		                    <a href="{{ site.url }}/" class="brand">Powerbox</a>

		                </li>
		                <li>
		                	<a href="{{ site.url }}/features">Features</a>
		                </li>
		                <li>
		                	<a href="{{ site.url }}/security">Security</a>
		                </li>
		                <li>
		                	<a href="{{ site.url }}/integrations">Integrations</a>
		                </li>
		                <li>
		                	<a href="{{ site.url }}/pricing">Pricing</a>
		                </li>
		                <li>
		                	<a href="{{ site.url }}/about-us">About Us</a>
		                </li>
		                <li>
		                	<a href="">Learn More</a>
		                	<div class="uk-navbar-dropdown"  uk-sticky="bottom: #offset">
			                    <ul class="uk-nav uk-navbar-dropdown-nav">
			                        <li class="uk-active"><a href="#">Blog/Articles</a></li>
			                        <li><a href="#">Video Guides</a></li>
			                        <li><a href="#">User Guides</a></li>
			                        <li><a href="#">FAQs</a></li>
			                    </ul>
			                </div>
		                </li>
		            </ul>

		        </div>

		        <div class="uk-navbar-right">

		            <ul class="uk-navbar-nav">
		                <li>
		                    <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Sign In</a>
		                </li>
		                <li>
		                    <a href="#" class="uk-button uk-button-default btn-nav">Sign Up</a>
		                </li>
		            </ul>

		        </div>
		    </nav>

		    <div class="uk-navbar-dropbar" ></div>
    </div>
</div>