

<div class="uk-section uk-section-primary uk-text-center">
    <div>
        <div class="uk-grid-match uk-child-width-1-1@m" uk-grid >
            <div>
            	<h2>Secured and Easy storage awaiting for you</h2>
                <p class="subtitle">Start using Powerbox today</p>
                <form>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text" placeholder="Company Name">
                        </div>
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="text" placeholder="Email Address">
                        </div>
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="text" placeholder="Contact Name">
                        </div>
                        <div class="uk-inline">
                            <button class="uk-button uk-button-default" style="padding-top: 0%; padding-bottom: 0%;">Try it Free <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </form>
				

            </div>
        </div>

    </div>
</div>
