
<div class="uk-section uk-text-center secondary-container">
    <h2>Get your files secured with PowerBox</h2>
    <p class="subtitle">Get to know what PowerBox Security technology offers for best security you can trust.</p>
    <br/>
    <div class="uk-grid-match uk-child-width-expand@s" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
    	<div></div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <p><img src="{{ site.baseurl }}/images/1.png" /></p>
                <p>File Upload</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <p><img src="{{ site.baseurl }}/images/2.png" /></p>
                <p>Server</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <p><img src="{{ site.baseurl }}/images/3.png" /></p>
                <p>File Download</p>
            </div>
        </div>
    	<div></div>

    </div>
    <br/><br/>
    <p class="subtitle">From File Uploading to File Downloading, you are protected.</p>
</div>