
<div class="uk-section uk-text-center uk-section-muted secondary-container">
    <h2>Get your files secured with PowerBox</h2>
    <p class="subtitle">Get to know what PowerBox Security technology offers for best security you can trust.</p>
    <br/>
    <div class="uk-grid-match uk-child-width-expand@s" uk-grid  id="security-box">
    	<div></div>
        <div>
            <div class="uk-card uk-card-body">
                <p><img src="{{ site.baseurl }}/images/1.png" /></p>
                <p class="subtitle"><strong>File Upload</strong></p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body">
                <p><img src="{{ site.baseurl }}/images/2.png" /></p>
                <p class="subtitle"><strong>Server</strong></p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body">
                <p><img src="{{ site.baseurl }}/images/3.png" /></p>
                <p class="subtitle"><strong>File Download</strong></p>
            </div>
        </div>
    	<div></div>

    </div>
    <button class="uk-button uk-button-secondary">Try Powerbox Now</button>

</div>