

<div class="uk-section uk-section-muted" id="file-upload">
    <h2 class="uk-text-center">Keeping your <span class="text-primary">Files Uploaded</span> secured</h2>
    <div  style="padding-bottom: 30px; margin-top:50px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid >
            <div >
                <img src="{{ site.url }}/images/5.png" />
            </div>
            <div style="margin-top:30px">
                <h3 class="uk-card-title">PowerBox XSS and Session Cookie protection</h3>
                <p>Malicious attackers can inject JavaScript, VBScript, ActiveX, HTML, or Flash into cloud applications to modify the content shown on a web page and mislead customers into gathering their data. Also, attackers can steal session cookies of customers to take over their account, impersonate them, and perform transactions without their knowledge. Through its security features, PowerBox protects users from hackers trying to access their account.</p>
            </div>
        </div>

    </div>
</div>
