
<div class="uk-section uk-section-muted" id="server">
    <h2 class="">Secured <span class="text-primary">Server</span> through our best integrated tools</h2>
        <ul uk-tab class="uk-text-center">
            <li><a href="#"><strong>Trend Micro Deep Security</strong></a></li>
            <li><a href="#"><strong>Amazon Web Services</strong></a></li>
        </ul>
        <ul class="uk-switcher uk-margin" >

            <li>
                <div  style="margin-top:0px;">
                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >
                        

                        <div style="margin-top:30px">
                            <h3 class="uk-card-title">Deep Security</h3>
                            <p>Besides AWS protection, PowerBox also leverages Trend Micro’s patented Deep Security to provide agentless and agent-based protection to protect our server. The security feature Deep Security provides the following: </p>
                            <ul uk-accordion="multiple: true">
                                <li>
                                    <h4 class="uk-accordion-title">Anti-Malware</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module checks files real-time and on-demand against an extensive threat database, some of which are hosted on servers or stored locally as updatable patterns. It also checks files for certain characteristics, such as compression and known exploit code.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Web Reputation</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module protects users against web threats by blocking access to malicious URLs. It uses Trend Micro's Web security databases from Smart Protection Network sources to review the reputation of sites that users are attempting to access.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Firewall</h4>
                                    <div class="uk-accordion-content">
                                        <p>The bidirectional and stateful firewall makes sure that packets originating from unauthorized sources do not reach the applications on its host.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Intrusion Detection and Prevention</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module prevents computers from being exposed to threats like known and zero-day vulnerability attacks, SQL injections attacks, cross-site scripting attacks, and other vulnerabilities.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Integrity Monitoring</h4>
                                    <div class="uk-accordion-content">
                                        <p>It allows users to manage specific areas on a computer for alterations such as installed software, running services, files, directories, listening ports, as well as registry keys and values.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Log Inspection</h4>
                                    <div class="uk-accordion-content">
                                        <p>The OSSEC Log Inspection Engine gives you the ability to inspect the events generated by the OS and applications on the computers. Log Inspection Rules can be assigned directly to computers or can be made part of a Security Profile.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div >
                            <img src="{{ site.url }}/images/7.png" />
                        </div>

                    </div>
                 </div>
             </li>
             <li>
                    
                <div  style="margin-top:0px;">
                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >

                       
                        <div style="margin-top:30px" >
                            <h3 class="uk-card-title">Amazon Web Services</h3>
                            <p>PowerBox leverages AWS server to its storage data. AWS was made up of encryption components to protect your files when uploaded to the server. The first component is the encryption method which conceals file data using a cryptographic algorithm. The second one is the KMI or Key Management Infrastructure. It has two subcomponents: the key storage and the management layer. The former protects the plain text keys while the latter is responsible for protecting keys by using an HSM or hardware security module to protect users from unauthorized use. A software-based authorization layer controls who can administer the HSM and which users or applications can use which keys. </p>
                        </div>
                         <div >
                            <img src="{{ site.url }}/images/6.png" />
                        </div>
                    </div>

                </div>

            </li>
        </ul>
    </div>
