

<div class="uk-section uk-section-muted" id="web-server">
    <h2 class="uk-text-center">PowerBox Web to Server</h2>
    <div  style="padding-bottom: 30px; margin-top:50px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true">
            <div >
                <img src="{{ site.url }}/images/8.png" />
            </div>
            <div style="margin-top:30px">
                <h3 class="uk-card-title">HTTP Strict Transport Security (HSTS)</h3>
                <p>When information is delivered from PowerBox web console to the AWS server, we use HTTP Strict Transport Security (HSTS) to protect information. HSTS is an IETF standards track protocol specified in RFC 6797. It serves as a security policy mechanism to protect websites from protocol downgrade attacks and cookie hijacking. It also allows web servers to declare that browsers or other complying user agents should only communicate with it using secure HTTPS connections and never via the insecure HTTP protocol. </p>
            </div>
        </div>

    </div>
    <div  style="padding-bottom: 30px; margin-top:0px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true">
            <div >
                <img src="{{ site.url }}/images/9.png" />
            </div>
            <div style="margin-top:30px" >
                <h3 class="uk-card-title">Transport Layer Security (TLS)</h3>
                <p>Major websites also use Transport Layer Security (TLS) to secure all communications between their servers and web browsers and PowerBox is no exception. TLS and Secure Sockets Layer, the former's predecessor both frequently referred to as "SSL," are cryptographic protocols that supply communications security over a computer network. PowerBox uses it in applications such as web browsing, email, Internet faxing, instant messaging, and voice-over-IP (VoIP).</p>
            </div>
        </div>

    </div>
</div>
