

<div class="uk-section uk-section-muted" id="file-download">
    <h2 class="uk-text-center">File Download</h2>
    <div  style="padding-bottom: 30px; margin-top:50px;" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >
            <div>
                <img src="{{ site.url }}/images/10.png" />
            </div>
            <div>
                <h3 class="uk-card-title">Sharing Link Protection</h3>
                <p>There are three ways to secure the link you share to others to keep the files secure from malicious attackers.  </p>
                <ul class="uk-list uk-list-bullet">
                    <li>Users can designate a password for the shared link so only those with knowledge of the password can download the files to their local drives.</li>
                    <li>Users can also set an expiry date for the link, which is only available for download at a specific time and date. Once the date has elapsed, the link is no longer available.</li>
                    <li>Lastly, users can set a download time limit. If downloading the file from the PowerBox reaches beyond a restricted time, then the link will no longer be available as well.</li>
                </ul>
            </div>
        </div>

    </div>
</div>
