
<div class="uk-section uk-section-muted" id="overall">
    <h2>Overall Examination</h2>
        <ul uk-tab class="uk-text-center">
            <li><a href="#"><strong>OWASP</strong></a></li>
            <li><a href="#"><strong>Qualy's SSL Labs</strong></a></li>
            <li><a href="#"><strong>SFDC Code Check</strong></a></li>
        </ul>
        <ul class="uk-switcher uk-margin" >
            <li>
                    
                <div  style="margin-top:0px;">
                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >

                       
                        <div style="margin-top:30px" >
                            <h3 class="uk-card-title">OWASP</h3>
                            <p>The results returned a low risk of occurrence for users on these vulnerabilities:    </p>
                            <ul uk-accordion="multiple: true">
                                <li>
                                    <h4 class="uk-accordion-title">Cross Site Scripting (XSS)</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module checks files real-time and on-demand against an extensive threat database, some of which are hosted on servers or stored locally as updatable patterns. It also checks files for certain characteristics, such as compression and known exploit code.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Injection Flaws</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module protects users against web threats by blocking access to malicious URLs. It uses Trend Micro's Web security databases from Smart Protection Network sources to review the reputation of sites that users are attempting to access.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Cross Site Request Forgery (CSRF)</h4>
                                    <div class="uk-accordion-content">
                                        <p>The bidirectional and stateful firewall makes sure that packets originating from unauthorized sources do not reach the applications on its host.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Information Leakage and Improper Error Handling</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module prevents computers from being exposed to threats like known and zero-day vulnerability attacks, SQL injections attacks, cross-site scripting attacks, and other vulnerabilities.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Insecure Communications</h4>
                                    <div class="uk-accordion-content">
                                        <p>It allows users to manage specific areas on a computer for alterations such as installed software, running services, files, directories, listening ports, as well as registry keys and values.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Failure to Restrict URL Access</h4>
                                    <div class="uk-accordion-content">
                                        <p>The OSSEC Log Inspection Engine gives you the ability to inspect the events generated by the OS and applications on the computers. Log Inspection Rules can be assigned directly to computers or can be made part of a Security Profile.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                         <div >
                            <img src="{{ site.url }}/images/13.png" />
                        </div>
                    </div>

                </div>

            </li>
            <li>
                <div  style="margin-top:0px;">
                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >
                        

                        <div style="margin-top:30px">
                            <h3 class="uk-card-title">Qualy's SSL Labs</h3>
                            <p>Qualys’ report: The SSL Report gave the PowerBox site an A Rating and scored very well on these factors:</p>
                            <ul uk-accordion="multiple: true">
                                <li>
                                    <h4 class="uk-accordion-title">Certificate</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module checks files real-time and on-demand against an extensive threat database, some of which are hosted on servers or stored locally as updatable patterns. It also checks files for certain characteristics, such as compression and known exploit code.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Protocol Support</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module protects users against web threats by blocking access to malicious URLs. It uses Trend Micro's Web security databases from Smart Protection Network sources to review the reputation of sites that users are attempting to access.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Key Exchange</h4>
                                    <div class="uk-accordion-content">
                                        <p>The bidirectional and stateful firewall makes sure that packets originating from unauthorized sources do not reach the applications on its host.</p>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="uk-accordion-title">Clipher Strength</h4>
                                    <div class="uk-accordion-content">
                                        <p>The module prevents computers from being exposed to threats like known and zero-day vulnerability attacks, SQL injections attacks, cross-site scripting attacks, and other vulnerabilities.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div >
                            <img src="{{ site.url }}/images/14.png" />
                        </div>

                    </div>
                 </div>
             </li>
                         <li>
                <div  style="margin-top:0px;">
                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >
                        

                        <div style="margin-top:30px">
                            <h3 class="uk-card-title">
                                SFDC Code Check
                            </h3>
                            <p>PowerBox has integration with Salesforce.com. To pass security review, APEX code and Visualforce need to be scanned by Force.com Security Source Code Scanner. PowerBox has passed the code review with no issues found.</p>
                        </div>
                        <div >
                            <img src="{{ site.url }}/images/15.png" />
                        </div>

                    </div>
                 </div>
             </li>
        </ul>
    </div>
