		<div class="loader"></div>
		<div class="uk-container uk-container-expand uk-text-center bg-container" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 1000" id="landing-page-main">

			<div class="uk-section sub-container">
			    <div class="uk-container" style="width:70%">
	                <h1>Exchange files with your customers 
					securely and conveniently</h1>
					<button class="uk-button uk-button-default">Watch Demo</button>
					<button class="uk-button uk-button-primary">Try Powerbox Free</button>
			    </div>
			</div>
			<div class="uk-section laptop-overlay">
				<img src="images/laptop-overlay.png" class="hide-in-mobile">
			</div>
		</div>

