

<div class="uk-section uk-section-muted product">
    <div  style="padding-bottom: 30px; margin-top:100px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >
        	<div style="margin-top:100px;">
        		<img src="images/desc.png">
        	</div>
            <div style="margin-top:100px; padding:5%;" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            	<br/><br/><br/><br/>
                <p class="subtitle-top">Great for your business</p>
            	<h2>PowerBox for your Business</h2>
                <p class="subtitle">A world-class app for business and enterprise to easily storage and transfer files in Salesforce.</p>
				<button class="uk-button uk-button-link" style="padding-left: 0px;">PowerBox in Salesforce Exchange <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                <bu
            </div>
        </div>

    </div>
</div>
