<div class="uk-section uk-text-center features">
    <h2>Key Features</h2>
    <p class="subtitle">We offer you the all things you need for your storage solution</p>
    <div class="uk-grid-match uk-child-width-expand@s" uk-grid ">
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img src="{{ site.url }}/images/file-storage/drag_drop.png" />
                <h3 class="uk-card-title">Malicious File Detection</h3>
                <p>Stay protected from malware with TrendMicro Deep Security</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img src="{{ site.url }}/images/file-storage/img-backup.png" />
                <h3 class="uk-card-title">Secured Sharing settings</h3>
                <p>Add a layer of protection to all sharing files</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img src="{{ site.url }}/images/file-storage/img-interface.png" />
                <h3 class="uk-card-title">Intuitive User Interface &nbsp;</h3>
                <p>Hierarchy folder tree to let you easily find a specific folder</p>
            </div>
        </div>
    </div>
    <div class="uk-grid-match uk-child-width-expand@s" uk-grid ">

        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img src="{{ site.url }}/images/file-storage/secure_link.png" />
                <h3 class="uk-card-title">Easy storage solution</h3>
                <p>Business/Enterprise employee login through domain account</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img src="{{ site.url }}/images/file-storage/fast_search.png" />
                <h3 class="uk-card-title">Power Search</h3>
                <p>Search document/picture content by key word</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img src="{{ site.url }}/images/file-storage/scan.png" />
                <h3 class="uk-card-title">Communication</h3>
                <p>Direct communication with partner through chatting console</p>
            </div>
        </div>
    </div>
        <br/><br/>
        <a href="{{ site.baseurl }}/features" class="uk-button uk-button-secondary">Learn more  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>

</div>