
<div class="uk-section uk-text-center" id="security">
    <h2>Get your files secured with PowerBox</h2>
    <p class="subtitle">Get to know what PowerBox Security technology offers for best security you can trust.</p>
    <br/>
    <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
        <div></div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                <p><img src="{{ site.baseurl }}/images/1.png" /></p>
                <p class="subtitle"><strong>File Upload</strong></p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body">
                <p><img src="{{ site.baseurl }}/images/2.png" /></p>
                <p class="subtitle"><strong>Server</strong></p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                <p><img src="{{ site.baseurl }}/images/3.png" /></p>
                <p class="subtitle"><strong>File Download</strong></p>
            </div>
        </div>
        <div></div>
    </div>
    <br/><br/>
    <a href="security" class="uk-button uk-button-default">Learn how we keep you secured  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>

</div>