<div class="uk-section uk-section-muted uk-text-center" id="integrations">
    <div class="uk-container">
        <h2>Integrates with your Existing Platforms</h2>
        <p class="subtitle">PowerBox offers you to incorporate your trusted platforms</p>
        <br/>
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid >
            <div>
            	<p><img src="{{ site.baseurl }}/images/sf.png" /></p>
            </div>
            <div>
            	<p><img src="{{ site.baseurl }}/images/zendesk-logo.png" /></p>
            </div>

        </div>
        <br/>
        <button class="uk-button uk-button-secondary">Learn how we keep you secured  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
    </div>
</div>
