

<div class="uk-section uk-section-muted" id="features-01">
    <h2 class="uk-text-center">Key Features</h2>
    <div  style="padding-bottom: 30px; margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true" >
            <div style="position: fixed">
                <img id="img-1" style="display:none" src="{{ site.url }}/images/file-storage/security.png" />
                <img id="img-2" style="display:none" src="{{ site.url }}/images/file-storage/scan.png" />
                <img id="img-3" style="display:none" src="{{ site.url }}/images/file-storage/secure_link.png" />
                <img id="img-4" style="display:none" src="{{ site.url }}/images/file-storage/drag_drop.png" />
                <img id="img-5" style="display:none" src="{{ site.url }}/images/file-storage/interface.png" />
                <img id="img-6" style="display:none" src="{{ site.url }}/images/file-storage/fast_search.png" />
            </div>
            <div></div>
            <div style="margin-top:100px">
                <h3 class="uk-card-title">Secured Sharing settings</h3>
                <p>Information security is the most concerned part during online file sharing. With PowerBox, you can set several layer of protections to the link you shared, including password, link expiry date, download time limits, and also watermark. These protections ensure only the right people has the key to see certain files.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style="padding-bottom: 30px; margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true" >
            <div></div>
            <div style="margin-top:100px">
                <h3 class="uk-card-title">Company Single Sign-On</h3>
                <p>Enterprise users who have company domain account can use their account to login to PowerBox through Single Sign-On. It helps enterprise users to shorten time spent on logging in and also keep their accounts safe from malicious attacks.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style="padding-bottom: 30px; margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true" >
            <div></div>
            <div style="margin-top:100px">
                <h3 class="uk-card-title">Communication</h3>
                <p>PowerBox has an unique file exchange and chatting console. This console allows users to chat and exchange files in the same time. By simply drag and drop the files into the console, partners can download the files directly in a mouse click. 
                </p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style="padding-bottom: 30px; margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true" >
            <div></div>
            <div style="margin-top:100px">
                <h3 class="uk-card-title">Malicious File Detection</h3>
                <p>PowerBox embed with Trend Micro Deep Security on our file exchange server, which protects our server from malware and further keeps all your files in the safest cloud environment. For every files being uploaded to PowerBox, they will be scanned by Deep Security to make sure they’re not malicious.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style="padding-bottom: 30px; margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true" >
            <div></div>
            <div style="margin-top:100px">
                <h3 class="uk-card-title">Intuitive User Interface</h3>
                <p>PowerBox aims to reduce your time and efforts spent on organizing folders and files. With PowerBox folder tree, you can easily manage the folder hierarchy and also move files to any folders quickly.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style="padding-bottom: 30px; margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 500; repeat: true" >
            <div></div>
            <div style="margin-top:100px">
                <h3 class="uk-card-title">Searching is never a trouble again</h3>
                <p>Searching one file in tons of files is always problematic. With your consent, PowerBox allows you to target those most relevant files by simply input some key words in searching box. With Power Search, not only the documents like word, excel, and pdf can be found, but also pictures without any words can be sorted out! Try it and your files will no longer be needles in a haystack!
                </p>
            </div>
        </div>

    </div>
</div>
