

<div class="uk-section uk-section-muted" id="features-01">
    <h2>Key Features</h2>
    <p class="subtitle">We offer you the all things you need for your storage solution</p>
    <hr/>
    <div  style=" margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div style="margin-top:80px">
                <p class="subtitle-top">Offers several layer of protection</p>
                <h2>Secured Sharing settings</h2>
                <p>Information security is the most concerned part during online file sharing. With PowerBox, you can set several layer of protections to the link you shared, including password, link expiry date, download time limits, and also watermark. These protections ensure only the right people has the key to see certain files.
                </p>
            </div>
            <div>
                <img id="img-1" src="{{ site.url }}/images/file-storage/security.png" />
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style=" margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div><img id="img-2" src="{{ site.url }}/images/file-storage/scan.png" /></div>
            <div style="margin-top:80px">
                <p class="subtitle-top">Keeping your accounts safe</p>
                <h2>Company Single Sign-On</h2>
                <p>Enterprise users who have company domain account can use their account to login to PowerBox through Single Sign-On. It helps enterprise users to shorten time spent on logging in and also keep their accounts safe from malicious attacks.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted secondary-container">
    <div  style=" margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div style="margin-top:80px">
                <p class="subtitle-top">Unique chatting console</p>
                <h2>Communication</h2>
                <p>PowerBox has an unique file exchange and chatting console. This console allows users to chat and exchange files in the same time. By simply drag and drop the files into the console, partners can download the files directly in a mouse click. 
                </p>
            </div>
            <div><img id="img-3" src="{{ site.url }}/images/file-storage/secure_link.png" /></div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style=" margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div><img id="img-4" src="{{ site.url }}/images/file-storage/drag_drop.png" /></div>
            <div style="margin-top:80px">
                <p class="subtitle-top">Scanned by Deep Security</p>
                <h2>Malicious File Detection</h2>
                <p>PowerBox embed with Trend Micro Deep Security on our file exchange server, which protects our server from malware and further keeps all your files in the safest cloud environment. For every files being uploaded to PowerBox, they will be scanned by Deep Security to make sure they’re not malicious.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted secondary-container">
    <div  style=" margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div style="margin-top:80px">
                <p class="subtitle-top">Reduce your time and efforts</p>
                <h2>Intuitive User Interface</h2>
                <p>PowerBox aims to reduce your time and efforts spent on organizing folders and files. With PowerBox folder tree, you can easily manage the folder hierarchy and also move files to any folders quickly.
                </p>
            </div>
            <div><img id="img-5" src="{{ site.url }}/images/file-storage/interface.png" /></div>
        </div>

    </div>
</div>
<div class="uk-section uk-section-muted">
    <div  style=" margin-top:10px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div><img id="img-6" src="{{ site.url }}/images/file-storage/fast_search.png" /></div>
            <div style="margin-top:80px">
                <p class="subtitle-top">Power Search</p>
                <h2>Searching is never a trouble again</h2>
                <p>Searching one file in tons of files is always problematic. With your consent, PowerBox allows you to target those most relevant files by simply input some key words in searching box. With Power Search, not only the documents like word, excel, and pdf can be found, but also pictures without any words can be sorted out! Try it and your files will no longer be needles in a haystack!
                </p>
            </div>
        </div>

    </div>
    <br/><br/>
</div>
