

<div class="uk-section uk-section-muted secondary-container">
    <h2 class="uk-text-center">Integrates with your Favorite Platforms</h2>
    <p class="subtitle uk-text-center">PowerBox offers you to incorporate your trusted platforms</p>

    <br/>

<ul class="switcher" uk-switcher>
    <li><a href="#"><img src="{{ site.url }}/images/zendesk-logo.png" style="width:200px;" /></a></li>
    <li><a href="#"><img src="{{ site.url }}/images/sf.png" style="width:200px;" /></a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>
    <hr/>
    <div  style="padding-bottom: 30px; margin-top:50px;">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  >
            <div style="margin-top:80px;">
                <img src="{{ site.url }}/images/zendesk-logo.png" />
            </div>
            <div style="margin-top:30px">
                <h2>Salesforce</h3>
                <p>PowerBox has integration with Salesforce.com in many objects. Take case for example, customer supports are able to communicate with customers directly through file sharing and chatting. Large files like logs can also be storage in PowerBox without worrying about Salesforce storage limits. Customers can simply upload the logs to the URL supports shared and when the files are being uploaded, supports will receive notifications immediately. Further handle the case as soon to largely reduce time spent on sending emails back and forth.
                </p>
            </div>
        </div>

    </div>
    </li>
    <li>    
    <hr/>
        <div  style="padding-bottom: 30px; margin-top:0px;">
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid  >
                <div style="margin-top:80px;">
                    <img src="{{ site.url }}/images/sf.png" />
                </div>
                <div style="margin-top:30px" >
                    <h2>Zendesk</h3>
                    <p>Powerbox integrates with Zendesk in case object. When a case it being created, PowerBox will also create a corresponding folder for the case. Users can easily add files to the case folder in the same page and share it to their customers. How about if you are handling multiple cases at the same time? Don’t worry, you can click on the PowerBox App icon to view all folders under your account. This will help you view and edit all folders without switching pages!
                    </p>
                </div>
            </div>

        </div>
    </li>
</ul>



</div>
